In [1]:
#Import os and csv modules
import os
import csv
import pandas as pd

In [4]:
# File to Load (Remember to Change These)
co2_emmission = "Data_resources/Emissions/annual-co-emissions-by-region.csv"

In [6]:
co2_emission_d = pd.read_csv(co2_emmission)
co2_emission_data.head()

        Entity Code  Year  Annual CO2 emissions
0  Afghanistan  AFG  1949              0.014656
1  Afghanistan  AFG  1950              0.084272
2  Afghanistan  AFG  1951              0.091600
3  Afghanistan  AFG  1952              0.091600
4  Afghanistan  AFG  1953              0.106256