In [1]:
# Import dependencies
import json
import os
import pandas as pd

In [2]:
# Read in world json data
with open('Data_Resources/Coordinate_Data/minified_world_data.json', 'r') as f:
    json_data = f.read()
    
json_d = json.loads(json_data)

In [3]:
# Read in temp data
temp_data_file = 'Data_Resources/Global Temperature Changes by Country/GlobalLandTemperaturesByCountry.csv'
temp_data_df = pd.read_csv(temp_data_file, parse_dates=True)
temp_data_df.head()

           dt  AverageTemperature  AverageTemperatureUncertainty Country
0  1743-11-01               4.384                          2.294   Åland
1  1743-12-01                 NaN                            NaN   Åland
2  1744-01-01                 NaN                            NaN   Åland
3  1744-02-01                 NaN                            NaN   Åland
4  1744-03-01                 NaN                            NaN   Åland

In [4]:
# Read in emissions data
emissions_data_file = 'Data_Resources/Emissions/annual-co-emissions-by-region.csv'
emissions_data_df = pd.read_csv(emissions_data_file)
emissions_data_df.head()

        Entity Code  Year  Annual CO2 emissions
0  Afghanistan  AFG  1949              0.014656
1  Afghanistan  AFG  1950              0.084272
2  Afghanistan  AFG  1951              0.091600
3  Afghanistan  AFG  1952              0.091600
4  Afghanistan  AFG  1953              0.106256

In [5]:
# Cleaning temp data - calculate yearly temp average per year (1950-2013)
temp_data_df['dt']=pd.to_datetime(temp_data_df['dt'])
temp_data_df['year'] = pd.PeriodIndex(temp_data_df.dt, freq='Y')
temp_data_df['year'].value_counts().sort_index() #Do i need sort_index()?

yearly_average_temp = temp_data_df.groupby(['Country', 'year'])['AverageTemperature'].mean()
yearly_average_temp

# yearly_average_temp_df = yearly_average_temp
# yearly_average_temp_df =

Country      year
Afghanistan  1838    18.379571
             1839          NaN
             1840    13.413455
             1841    13.997600
             1842    15.154667
                       ...
Åland        2009     6.489083
             2010     4.861917
             2011     7.170750
             2012     6.063917
             2013     6.229750
Name: AverageTemperature, Length: 48243, dtype: float64

In [6]:
# Display emissions data
emissions_data_df.head()

        Entity Code  Year  Annual CO2 emissions
0  Afghanistan  AFG  1949              0.014656
1  Afghanistan  AFG  1950              0.084272
2  Afghanistan  AFG  1951              0.091600
3  Afghanistan  AFG  1952              0.091600
4  Afghanistan  AFG  1953              0.106256

In [7]:
# [country['properties']['name'] for i, country in enumerate(json_d['features'])]

In [8]:
for country in enumerate(json_d['features']):
    for i in range(1950, 2013):
        country['properties'][f'year_temp{i}'] = yearly_average_temp[country['properties']['name'], i]
        country['properties'][f'year_emission{i}'] = emissions_data_df[country['properties']['name'], i]

TypeError: tuple indices must be integers or slices, not str

In [10]:
# # Display updated json_d data
# json_d

In [11]:
# with open('updated_world.json', 'w') as f:
#     f.write(json.dumps(json_d))

In [12]:
# 2015 - 2016 - 2017 -- 

# 2015

# updated map to display field "year_" + <value_returned_from_slider>